<p>Choose you figher !</p>
<!-- <select [(ngModel)]="player.selectedCharacter" (change)="onChange($event.target.value)">
    <option *ngFor="let character of characters" value="{{ character }}">{{ character.name }}</option>
</select> -->
<input type="text" name="selectedCharacter" [(ngModel)]="player.selectedCharacter"> 
<button (click)="demarrerPartie()">Démarrer</button>
<button (click)="stopPartie()">Arrêter</button>

<p>Vous disposez de {{ player.cagnotte }}€ </p>
<p *ngIf="winner === 'player'">Vous avez gagné</p>
<p *ngIf="winner === 'ia'">Vous avez perdu</p>
